.footer p {
	font-size: 8px;
}

.footer {
	margin-top: 15px;
}

.header {
	margin-bottom: 10px;
}

.stacked {
	margin-bottom: 5px;
}

.info {
	margin: 0
}

.device-well p {
	font-size: 18px;
	font-weight: bold;
	vertical-align: middle;
	margin: 0;
}

.device-well-1 {
	font-weight: bolder;
	font-size: 22px;
}

.device-well-2 {
	text-align: center;
	padding-right: 15px;
}

#rooms-output a {
	align-content: center;
}

.logo {
    background-image: url('/img/logo2small.png');
    background-repeat: no-repeat;
    height: 66px;
    
}
